@import './variables';

:root {
  --breakpoint-sd: 986px;
  --breakpoint-md: 1360px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  font-family: $font-family;
  font-size: $font-size-normal;
  color: $dark-blue;
  background-color: $very-light-gray;
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

p {
  line-height: $line-height;
}

ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  unicode-bidi: normal;
}
